<h1>Users</h1>

<section>
<% @users.each do |user| %>
    <%= link_to users_path(user.id) do %>
      <div class="container">
          <div class="user_pic">
            <img src="<%= user.photo %>" />
          </div>
          <div class="user">
            <h1><%= user.name %></h1>
            <p>Number of posts: <%= user.posts_counter || 0 %></p>
          </div>
          </div>
    <% end %>
<% end %>
</section